@import '~semantic-ui-css/semantic.min.css';
/* @import url('https://fonts.googleapis.com/css?family=Catamaran'); */

/* body {
  background-color: lightgrey;
} */

.ui.page.modals.transition.visible {
  display: flex !important;
}

/* * {
  font-family: 'Catamaran', sans-serif;
} */
